*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
}

body{
    background-color: darkred;
}

a{
    color: red;
    margin: 0;
    padding: 0;
}

a:visited{
    color: rgb(206, 18, 18);
}

a:hover{
    color:rgb(117, 27, 27)
}



.container{
    align-self: center;
    margin: auto;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    height:100%;
}

h1{
    text-align: center;
}

h2{
    padding-top: 10px;
    text-align: center;
}

p, h2, h3{
    margin-left: 15px;
}

ol, ul{
    margin-left: 30px;
    padding-left: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#navbar{
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style: none;
    width: 100%;
    display: table;
    text-align: center;
    height: 50px;
    background-color: rgb(255, 225, 225);
    line-height: 50px;
}



.navbarLinks{
    
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    vertical-align: middle;
}